@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Google Sans Code";
  font-optical-sizing: auto;
  font-style: normal;
}

.font-fira-code {
  font-family: "Fira Code", monospace;
}

.font-poppins {
  font-family: "Poppins", monospace;
}
